@font-face {
    font-family: "vazir";
    font-style: normal;
    font-weight: normal;
    src: url("@/fonts/Vazir-FD.eot");
    src: url("@/fonts/Vazir-FD.woff") format("woff"), url("@/fonts/Vazir-FD.ttf") format("truetype");
}
@font-face {
    font-family: "vazir";
    font-style: normal;
    font-weight: bold;
    src: url("@/fonts/Vazir-Bold-FD.eot");
    src: url("@/fonts/Vazir-Bold-FD.woff") format("woff"),
        url("@/fonts/Vazir-Bold-FD.ttf") format("truetype");
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "vazir", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
}

body.light-theme {
    --background: #ffffff;
    --box: #f5f5f5;
    --border: #aaaaaa;
    --shadow: #00000055;
    --text: #000000;
    --icon: #000000;
    --secondary-box: #00bb6d;
    --secondary-text: #ffffff;
}
body.dark-theme {
    --background: #1a120b;
    --box: #3c2a21;
    --border: #d5cea3;
    --shadow: #e5e5cb00;
    --text: #d5cea3;
    --icon: #d5cea3;
    --secondary-box: #bb6600;
    --secondary-text: #ffffff;
}

body {
    background: var(--background);
}
* {
    color: var(--text);
}
