@font-face {
    font-family: "vazir";
    font-style: normal;
    font-weight: normal;
    src: url("@/fonts/Vazir-FD.eot");
    src: url("@/fonts/Vazir-FD.woff") format("woff"), url("@/fonts/Vazir-FD.ttf") format("truetype");
}
@font-face {
    font-family: "vazir";
    font-style: normal;
    font-weight: bold;
    src: url("@/fonts/Vazir-Bold-FD.eot");
    src: url("@/fonts/Vazir-Bold-FD.woff") format("woff"),
        url("@/fonts/Vazir-Bold-FD.ttf") format("truetype");
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "vazir", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
}

body.light-theme {
    --background: #ffffff;
    --box: #f5f5f5;
    --border: #aaaaaa;
    --shadow: #00000055;
    --text: #000000;
    --icon: #000000;
}

/* change the dark, x and y color theme */
/* if you want a theme to apply, change class of the body element in index.html file */

body.dark-theme {
    --background: #000000;
    --box: #1a1a1a;
    --border: #5f5f5f;
    --shadow: #ffffff55;
    --text: #ffffff;
    --icon: #ffffff;
}
body.x-theme {
    --background: #000000;
    --box: #1a1a1a;
    --border: #5f5f5f;
    --shadow: #ffffff55;
    --text: #ffffff;
    --icon: #ffffff;
}
body.y-theme {
    --background: #000000;
    --box: #1a1a1a;
    --border: #5f5f5f;
    --shadow: #ffffff55;
    --text: #ffffff;
    --icon: #ffffff;
}

body {
    background: var(--background);
}
* {
    color: var(--text);
}
