@font-face {
    font-family: "vazir";
    font-style: normal;
    font-weight: normal;
    src: url("src/fonts/Vazir-FD.eot");
    src: url("src/fonts/Vazir-FD.woff") format("woff"),
        url("src/fonts/Vazir-FD.ttf") format("truetype");
}
@font-face {
    font-family: "vazir";
    font-style: normal;
    font-weight: bold;
    src: url("src/fonts/Vazir-Bold-FD.eot");
    src: url("src/fonts/Vazir-Bold-FD.woff") format("woff"),
        url("src/fonts/Vazir-Bold-FD.ttf") format("truetype");
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "vazir", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
body {
    margin-bottom: 70px;
}
